#person {
    width: 32px;
    height: 32px;
    background-image: url('Pic/Front0.png');
    background-repeat: no-repeat;
    position: absolute;
}

body {
    background-image: url('Pic/2016-01-28_00002.jpg');
    background-repeat: no-repeat;
}

.obst{
    width: 0px;
    height: 0px;
    background-color:aliceblue;
    background-repeat: no-repeat;
    position: absolute;
}
.About{
    border-radius: 25px;
    width: 250px;
    height: 250px;
    top: 250px;
    left: 500px;
    background-color:floralwhite;
    background-repeat: no-repeat;
    position: absolute;
    display:none;
    text-align:center
}
@keyframes left {
    0% {
        background-image: url('Pic/left0.png');
    }
    33% {
        background-image: url('Pic/left1.png');
    }
    66% {
        background-image: url('Pic/left2.png');
    }
    100% {
        background-image: url('Pic/left0.png');
    }
}

@keyframes right {
    0% {
        background-image: url('Pic/right0.png');
    }
    33% {
        background-image: url('Pic/right1.png');
    }
    66% {
        background-image: url('Pic/right2.png');
    }
    100% {
        background-image: url('Pic/right0.png');
    }
}

@keyframes Front {
    0% {
        background-image: url('Pic/Front0.png');
    }
    33% {
        background-image: url('Pic/Front1.png');
    }
    66% {
        background-image: url('Pic/Front2.png');
    }
    100% {
        background-image: url('Pic/Front0.png');
    }
}

@keyframes Up {
    0% {
        background-image: url('Pic/Up0.png');
    }
    33% {
        background-image: url('Pic/Up1.png');
    }
    66% {
        background-image: url('Pic/Up2.png');
    }
    100% {
        background-image: url('Pic/Up0.png');
    }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}