#person {
    width: 28px;
    height: 28px;
    background-image: url('Pic/Up0.png');
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
}
.body {
    zoom:200%
}
.back{
    width: 400px;
    height: 700px;
    background-image: url('Pic/route101.bmp');
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
}
.obst{
    width: 0px;
    height: 0px;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.grass{
    width: 0px;
    height: 0px;
    background-color:;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.transport{
    width: 0px;
    height: 0px;
    background-color:;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.About{
    border-radius: 25px;
    width: 250px;
    height: 250px;
    top: 125px;
    left: 250px;
    background-color:floralwhite;
    background-repeat: no-repeat;
    position: absolute;
    display:none;
    text-align:center
}
@keyframes left {
    0% {
        background-image: url('Pic/left0.png');
    }
    33% {
        background-image: url('Pic/left1.png');
    }
    66% {
        background-image: url('Pic/left2.png');
    }
    100% {
        background-image: url('Pic/left0.png');
    }
}

@keyframes right {
    0% {
        background-image: url('Pic/right0.png');
    }
    33% {
        background-image: url('Pic/right1.png');
    }
    66% {
        background-image: url('Pic/right2.png');
    }
    100% {
        background-image: url('Pic/right0.png');
    }
}

@keyframes Front {
    0% {
        background-image: url('Pic/Front0.png');
    }
    33% {
        background-image: url('Pic/Front1.png');
    }
    66% {
        background-image: url('Pic/Front2.png');
    }
    100% {
        background-image: url('Pic/Front0.png');
    }
}

@keyframes Up {
    0% {
        background-image: url('Pic/Up0.png');
    }
    33% {
        background-image: url('Pic/Up1.png');
    }
    66% {
        background-image: url('Pic/Up2.png');
    }
    100% {
        background-image: url('Pic/Up0.png');
    }
}
.sidenav {
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    background-color: rgba(0,0,0,0);
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.progress {
    background: linear-gradient(to right, #2c3b4e, #4a688a, #2c3b4e);
    padding: 1px;
    border-radius: 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #7992a8;
    position: absolute;
}

.progress .progress-bar {
    border-radius: 5px;
    height:3px;
    position: relative;
    margin-top: -2px;
    animation: animate-positive 2s;
}

.progress-bar.active {
    animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}